In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Index(['2018 Rank', 'Company Name', 'Primary Industry',
       '2017 Revenue (US$ Millions)', 'Net Income (US$ Millions)',
       'Market Capitalization ($)', 'Revenue Growth (%)', 'Profit Margin (%)'],
      dtype='object')

In [21]:
data = pd.read_csv('USA_50manufacturers.csv')
print(data.shape)
data = data.rename(columns={'2017 Revenue (US$ Millions)': 'revenue', 'Primary Industry': 'industry'})
print(data.columns)
data.revenue = pd.to_numeric(data.revenue.str.replace(',', '.'))
data.head()

(50, 8)
Index(['2018 Rank', 'Company Name', 'industry', 'revenue',
       'Net Income (US$ Millions)', 'Market Capitalization ($)',
       'Revenue Growth (%)', 'Profit Margin (%)'],
      dtype='object')

,2018 Rank,Company Name,industry,revenue,Net Income (US$ Millions),Market Capitalization ($),Revenue Growth (%),Profit Margin (%)
0,47,Louisiana-Pacific Corp.,Wood Products,2.734,390,"3,804.96",22.41,14.26
1,1,Patrick Industries Inc.,Wood Products,1.636,86,"1,759.16",33.86,5.24
2,48,Altria Group Inc.,Tobacco,25.576,"10,222","135,768.92",-0.65,39.97
3,17,Apogee Enterprises Inc.,"Stone, Clay, Glass & Concrete Products",1.326,79,"1,238.11",18.99,5.99
4,28,Huntington Ingalls Industries Inc.,"Railcars, Ships, & Other Trans. Equip.",7.441,479,"10,630.07",5.28,6.44

In [22]:
data.revenue.sum()

543.0329999999999

In [19]:
data.industry.unique().tolist()

['Wood Products',
 'Tobacco',
 'Stone, Clay, Glass & Concrete Products',
 'Railcars, Ships, & Other Trans. Equip.',
 'Publishing & Printing',
 'Plastics',
 'Petroleum & Coal Products',
 'Paper',
 'Motor Vehicles',
 'Motor Vehicle Parts',
 'Medical Instruments & Equipment',
 'Machinery',
 'Instruments',
 'Furniture & Fixtures',
 'Food',
 'Fabricated Metal Products',
 'Electrical Equipment & Appliances',
 'Computers & Other Electronic Products',
 'Chemicals',
 'Beverages',
 'Apparel',
 'Aerospace & Defense']

In [36]:
data_gr = data.groupby('industry').sum()
data_gr['revenue'].sort_values(ascending=False)

industry
Computers & Other Electronic Products     244.138
Apparel                                    43.073
Motor Vehicle Parts                        39.950
Chemicals                                  34.972
Food                                       31.995
Aerospace & Defense                        25.803
Tobacco                                    25.576
Electrical Equipment & Appliances          18.288
Beverages                                  14.383
Fabricated Metal Products                  14.314
Motor Vehicles                             10.561
Railcars, Ships, & Other Trans. Equip.      7.441
Paper                                       6.445
Plastics                                    5.923
Wood Products                               4.370
Furniture & Fixtures                        3.722
Instruments                                 2.725
Machinery                                   2.505
Petroleum & Coal Products                   2.084
Publishing & Printing                       1.966
Medical Instruments & Equipment             1.473
Stone, Clay, Glass & Concrete Products      1.326
Name: revenue, dtype: float64