# Multiple Linear Regression - Exercise Solution

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. 

In this exercise, the dependent variable is 'price', while the independent variables are 'size' and 'year'.

Good luck!

## Import the relevant libraries

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

## Load the data

In [8]:
data = pd.read_csv('real_estate_price_size_year.csv')
data['rand'] = np.random.randint(1, 6, data.shape[0])
data['year'] = data['year'].map(lambda x: x-2000)

In [9]:
data.head()

        price     size  year  rand
0  234314.144   643.09    15     3
1  228581.528   656.22     9     3
2  281626.336   487.29    18     4
3  401255.608  1504.75    15     4
4  458674.256  1275.46     9     3

In [10]:
data.describe()

               price         size        year        rand
count     100.000000   100.000000  100.000000  100.000000
mean   292289.470160   853.024200   12.600000    2.910000
std     77051.727525   297.941951    4.729021    1.256056
min    154282.128000   479.750000    6.000000    1.000000
25%    234280.148000   643.330000    9.000000    2.000000
50%    280590.716000   696.405000   15.000000    3.000000
75%    335723.696000  1029.322500   18.000000    4.000000
max    500681.128000  1842.510000   18.000000    5.000000

## Create the regression

### Declare the dependent and the independent variables

In [11]:
y = data['price']
x1 = data[['size','year', 'rand']]

### Regression

In [12]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.778
Model:                            OLS   Adj. R-squared:                  0.771
Method:                 Least Squares   F-statistic:                     112.2
Date:                Wed, 23 Jan 2019   Prob (F-statistic):           2.92e-31
Time:                        12:49:41   Log-Likelihood:                -1191.4
No. Observations:                 100   AIC:                             2391.
Df Residuals:                      96   BIC:                             2401.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       5.471e+04   1.76e+04      3.101      0.003    1.97e+04    8.97e+04
size         226.8390     12.539     18.090      0.000     201.948     251.730
year        2938.4361    787.678      3.731      0.000    1374.907    4501.965
rand        2425.9184   2962.786      0.819      0.415   -3455.165    8307.002
==============================================================================
Omnibus:                       12.758   Durbin-Watson:                   2.277
Prob(Omnibus):                  0.002   Jarque-Bera (JB):                4.207
Skew:                           0.124   Prob(JB):                        0.122
Kurtosis:                       2.026   Cond. No.                     4.34e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.34e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [ ]:
new_data = pd.DataFrame({'size': [1200, 700], 'year': [15, 10]})
new_data = new_data[['size','year']]